h1{
  font-family: Lucida Sans Unicodev;
  color:blue;
}

 h2{
  font-family:Trebuchet MS;
  color:blue;
}

p{
 font-family: verdana;
}

body {
background-image: url(http://www.pptbackgrounds.org/uploads/globe-on-clouds-blue-sky-backgrounds-wallpapers.jpg);
}
