h1{
  font-family: Lucida Sans Unicodev;
  color:blue;
}

 h2{
  font-family:Trebuchet MS;
  color:blue;
}

p{
 font-family: verdana;
}

body {
background-image: url(http://wallpaper-house.com/data/out/7/wallpaper2you_172696.jpg);
}
