h1{
  font-family: Lucida Sans Unicodev;
  color:blue;
}

 h2{
  font-family:Trebuchet MS;
  color:blue;
}

p{
 font-family: verdana;
}

body {
background-image: url(https://ak1.picdn.net/shutterstock/videos/2519291/thumb/1.jpg);
}
